USE [TravelerBlogDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogCityRelations]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogCityRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogPostId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BlogCityRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogComments]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogComments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogCommentDate] [datetime] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.BlogComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogLikes]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogLikes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlogPostId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.BlogLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlogPosts]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlogPosts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[BlogCreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.BlogPosts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentPostRelations]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentPostRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BlogPostId] [int] NOT NULL,
	[BlogCommentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CommentPostRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/01/2024 00:10:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[UserCreatedDate] [datetime] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BlogCityRelations] ON 

INSERT [dbo].[BlogCityRelations] ([Id], [BlogPostId], [CityId]) VALUES (1, 2, 2)
INSERT [dbo].[BlogCityRelations] ([Id], [BlogPostId], [CityId]) VALUES (2, 4, 13)
INSERT [dbo].[BlogCityRelations] ([Id], [BlogPostId], [CityId]) VALUES (3, 5, 3)
SET IDENTITY_INSERT [dbo].[BlogCityRelations] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogComments] ON 

INSERT [dbo].[BlogComments] ([Id], [BlogCommentDate], [Comment], [Status]) VALUES (2, CAST(N'2012-12-12T00:00:00.000' AS DateTime), N'Güzel bir blog yazısı olmuş.', 1)
INSERT [dbo].[BlogComments] ([Id], [BlogCommentDate], [Comment], [Status]) VALUES (10, CAST(N'2023-12-26T01:10:33.417' AS DateTime), N'fsdfs', 1)
INSERT [dbo].[BlogComments] ([Id], [BlogCommentDate], [Comment], [Status]) VALUES (11, CAST(N'2023-12-26T01:12:56.147' AS DateTime), N'Hello Bingöl.', 1)
SET IDENTITY_INSERT [dbo].[BlogComments] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogLikes] ON 

INSERT [dbo].[BlogLikes] ([Id], [BlogPostId], [UserId]) VALUES (1, 4, 1)
SET IDENTITY_INSERT [dbo].[BlogLikes] OFF
GO
SET IDENTITY_INSERT [dbo].[BlogPosts] ON 

SET IDENTITY_INSERT [dbo].[BlogPosts] OFF
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (2, N'Adana')
INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (3, N'Adıyaman')
INSERT [dbo].[Cities] ([Id], [CityName]) VALUES (4, N'Afyonkarahisar')
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[CommentPostRelations] ON 

INSERT [dbo].[CommentPostRelations] ([Id], [UserId], [BlogPostId], [BlogCommentId]) VALUES (2, 3, 4, 2)
INSERT [dbo].[CommentPostRelations] ([Id], [UserId], [BlogPostId], [BlogCommentId]) VALUES (4, 1, 2, 10)
INSERT [dbo].[CommentPostRelations] ([Id], [UserId], [BlogPostId], [BlogCommentId]) VALUES (5, 1, 4, 11)
SET IDENTITY_INSERT [dbo].[CommentPostRelations] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Id], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [Email], [UserCreatedDate], [RoleId]) VALUES (1, N'Ferdi', N'1234', N'f@gmail.com', CAST(N'2023-12-23T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [Email], [UserCreatedDate], [RoleId]) VALUES (3, N'Test', N'123', N't@gmail.com', CAST(N'2023-12-22T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Users] ([Id], [UserName], [Password], [Email], [UserCreatedDate], [RoleId]) VALUES (4, N'Deneme', N'123', N'd@gmail.com', CAST(N'2023-12-23T17:01:11.360' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[BlogCityRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogCityRelations_dbo.BlogPosts_BlogPostId] FOREIGN KEY([BlogPostId])
REFERENCES [dbo].[BlogPosts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogCityRelations] CHECK CONSTRAINT [FK_dbo.BlogCityRelations_dbo.BlogPosts_BlogPostId]
GO
ALTER TABLE [dbo].[BlogCityRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogCityRelations_dbo.Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogCityRelations] CHECK CONSTRAINT [FK_dbo.BlogCityRelations_dbo.Cities_CityId]
GO
ALTER TABLE [dbo].[BlogLikes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogLikes_dbo.BlogPosts_BlogPostId] FOREIGN KEY([BlogPostId])
REFERENCES [dbo].[BlogPosts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogLikes] CHECK CONSTRAINT [FK_dbo.BlogLikes_dbo.BlogPosts_BlogPostId]
GO
ALTER TABLE [dbo].[BlogLikes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BlogLikes_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlogLikes] CHECK CONSTRAINT [FK_dbo.BlogLikes_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[CommentPostRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentPostRelations_dbo.BlogComments_BlogCommentId] FOREIGN KEY([BlogCommentId])
REFERENCES [dbo].[BlogComments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentPostRelations] CHECK CONSTRAINT [FK_dbo.CommentPostRelations_dbo.BlogComments_BlogCommentId]
GO
ALTER TABLE [dbo].[CommentPostRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentPostRelations_dbo.BlogPosts_BlogPostId] FOREIGN KEY([BlogPostId])
REFERENCES [dbo].[BlogPosts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentPostRelations] CHECK CONSTRAINT [FK_dbo.CommentPostRelations_dbo.BlogPosts_BlogPostId]
GO
ALTER TABLE [dbo].[CommentPostRelations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CommentPostRelations_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentPostRelations] CHECK CONSTRAINT [FK_dbo.CommentPostRelations_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
