@model IEnumerable<TravelerBlog.Models.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        @foreach (var city in Model)
        {
            <div class="col-3 mb-3 mt-3">
                <div class="city-item">
                    <div class="city-item__box">
                        <div class="uk-cover-container uk-height-medium uk-border-rounded">
                            <img class="city-item__img" src="~/Content/assets/img/img-city-2.jpg" alt="city" data-uk-cover="data-uk-cover" />
                            <div class="uk-overlay-primary uk-position-cover"></div>
                            <div class="city-item__content uk-position-bottom">
                                @Html.ActionLink(city.CityName, "BlogForCity", "Blog", new { cityId = city.Id }, new { @class = "city-item__city" })
                                <div class="city-item__country">Türkiye</div>
                            </div>
                            <div class="uk-position-top-right">
                                <div class="city-item__col">20 Listings</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
