@model List<TravelerBlog.Providers.UserCommentProvider>

@foreach (var comment in Model)
{
    <div class="uk-comment">
        <div class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle" data-uk-grid="">
                <div class="uk-width-auto"><img class="uk-comment-avatar" src="~/Content/assets/img/avatar-1.png" width="60" height="60" alt=""></div>
                <div class="uk-width-expand">
                    <div data-uk-grid="">
                        <div>
                            <div class="uk-comment-title uk-margin-small-bottom">@comment.User.UserName</div>
                            <div class="uk-comment-meta">1 day Ago</div>
                        </div>
                        <div>
                            <ul class="stars-list">
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-comment-body">
            <p>@comment.BlogComment.Comment</p>
        </div>
    </div>
}
