@model IEnumerable<TravelerBlog.Models.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <h3 class="mb-5 mt-5">Add Blog Post</h3>
            <form method="post">
                <div class="form-row align-items-center">
                    <div class="form-group mb-3">
                        <label for="exampleFormControlInput1">Email address</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Blog Title" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="cityId">Select City</label>
                        <select class="form-control" id="cityId" name="cityId" required>
                            @foreach (var city in Model)
                            {
                                <option value=@city.Id>@city.CityName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="content">Blog Content</label>
                        <textarea class="form-control" id="content" name="content" rows="20" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-success mb-3">Create Blog</button>
                </div>
            </form>
        </div>
        <div class="col-2">

        </div>

    </div>
</div>