@model TravelerBlog.Models.BlogPost

@{
    ViewBag.Title = "ReadBlogPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentBlogId = ViewBag.CurrentBlogId;
}

<div class="page-content">
    <div class="uk-section-large uk-container">
        <div class="uk-grid uk-grid-medium" data-uk-grid="">
            <div class="uk-width-2-3@m">
                <article class="article-full">
                    <div class="article-full__head">
                        <div class="article-full__info">
                            <div class="article-full__author"><i class="icon-user"></i><a href="">Ben Jason</a></div>
                            <div class="article-full__date"><i class="icon-calendar"></i><span>@Model.BlogCreatedDate.ToString("dd/MM/yyyy")</span></div>
                            <div class="article-full__category"><i class="icon-folder-alt"></i><a href="">Vacations, Break</a></div>
                            <div class="article-full__comments"><i class="icon-bubbles"></i><a href="" data-uk-scroll="offset: 120">513</a></div>
                        </div>
                        <h3 class="article-full__title">@Model.Title</h3>
                    </div>
                    <div class="article-full__image shine" data-uk-lightbox=""><a href=""><img src="~/Content/assets/img/img-article-full-1.jpg" alt="img-article"></a></div>
                    <div class="uk-margin-medium-top article-full__content">
                        <p>@Model.Content</p>
                        <div class="uk-grid uk-grid-medium uk-child-width-1-2@s uk-margin-medium" data-uk-grid="" data-uk-lightbox="">
                            <div><a class="shine" href=""><img class="uk-border-rounded uk-width-1-1" src="~/Content/assets/img/img-article-gallery-1.jpg" alt="gallery"></a></div>
                            <div><a class="shine" href=""><img class="uk-border-rounded uk-width-1-1" src="~/Content/assets/img/img-article-gallery-2.jpg" alt="gallery"></a></div>
                        </div>
                    </div>
                    <div class="article-full__bottom" id="article-bottom">
                        <div class="article-full__tags">
                            <ul class="tags-list">
                                <li><a href="">Food & Drink</a></li>
                                <li> <a href="">Life Style</a></li>
                                <li><a href="">Travel</a></li>
                            </ul>
                        </div>
                        <div class="article-full__share"><a class="share-link" href=""><i class="icon-share"></i><span>Share This</span></a></div>
                    </div>
                    <div class="section-article-reviews" id="article-reviews">
                        <div class="uk-grid uk-child-width-auto@s uk-flex-middle uk-flex-between uk-margin-medium-bottom" data-uk-grid="">
                            <div>
                                <div class="uk-h2 uk-margin-remove"><span class="icon-star"> </span>Post Comments</div>
                            </div>
                        </div>

                        @Html.Action("DisplayComments", "Blog", new { currentBlogId = currentBlogId })

                        <div class="add-reviews-form" id="add-reviews">
                            <div class="uk-h2"> <span class="icon-star"></span>Leave A Reply</div>
                            <form method="post">
                                <div class="uk-grid uk-grid-medium uk-child-width-1-1" data-uk-grid="">
                                    <div><textarea class="uk-textarea" name="comment" id="comment" placeholder="Write your comment..." required=""></textarea></div>
                                    <div><button class="uk-button uk-button-danger uk-button-large" type="submit">Send comment</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

