@{
    ViewBag.Title = "Home Page";
}

<main class="page-main">
    <div class="section-banner section-banner--home">
        <div class="section-banner__bg" style="background-image: url(~/Content/assets/img/bg-banner-home-1.jpg)">
            <div class="uk-container">
                <div class="section-banner__content">
                    <div class="section-banner__title">Explore the great places</div>
                    <div class="section-banner__text">Let’s discover some great stuff & places for entertainment, eat & shop</div>
                    <div class="section-banner__form">
                        <form action="#!">
                            <div class="form-search">
                                <div class="form-search__box"> <input type="text" placeholder="Find Anything ..."><button class="uk-button uk-button-danger" type="submit">SEARCH</button></div>
                            </div>
                        </form>
                    </div>
                    <div class="section-banner__bottom">
                        <div class="popular-searches">
                            <span class="uk-margin-small-right">What’s Popular</span>
                            <ul>
                                <li><a href="#!" data-uk-tooltip="title: Restaurant; pos: bottom"><img src="~/Content/assets/img/ico-popular-search-1.png" alt="popular-search"></a></li>
                                <li><a href="#!" data-uk-tooltip="title: Hotel; pos: bottom"><img src="~/Content/assets/img/ico-popular-search-2.png" alt="popular-search"></a></li>
                                <li><a href="#!" data-uk-tooltip="title: Cinema; pos: bottom"><img src="~/Content/assets/img/ico-popular-search-3.png" alt="popular-search"></a></li>
                                <li><a href="#!" data-uk-tooltip="title: Shopping; pos: bottom"><img src="~/Content/assets/img/ico-popular-search-4.png" alt="popular-search"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Action("PopularCities", "Home")

    <div class="section-download">
        <div class="uk-container uk-container-large">
            <div class="section-download__box">
                <div class="section-download__content">
                    <h3 class="uk-h3">Download The App</h3>
                    <p>By using our app it’s all fun to discover some great stuff<br> & places for entertainment, eat, shop & Travel.</p>
                    <div class="uk-margin-medium-top">
                        <div class="uk-grid uk-grid-small uk-child-width-auto@s uk-text-center" data-uk-grid>
                            <div><img src="~/Content/assets/img/AppStore-accent.svg" alt="AppStore"></div>
                            <div><img src="~/Content/assets/img/PlayStore-accent.svg" alt="PlayStore"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Action("RecentBlogPosts", "Home")
</main>