@model IEnumerable<TravelerBlog.Models.City>

<div class="section-popular">
    <div class="uk-container uk-margin-large-bottom">
        <div class="section-title uk-text-center">
            <span>Rent Things The Easier Way</span>
            <h3 class="uk-h3">Popular Cities</h3>
        </div>
        <div class="section-content">
            <div class="uk-child-width-1-2@l uk-grid-medium" uk-grid>
                @foreach (var city in Model)
                {
                    <div class="col-3 mb-3 mt-3">
                        <div class="city-item">
                            <div class="city-item__box">
                                <div class="uk-cover-container uk-height-medium uk-border-rounded">
                                    <img class="city-item__img" src="~/Content/assets/img/img-city-5.jpg" alt="city" data-uk-cover="data-uk-cover" />
                                    <div class="uk-overlay-primary uk-position-cover"></div>
                                    <div class="city-item__content uk-position-bottom">
                                        @Html.ActionLink(city.CityName, "BlogForCity", "Blog", new { cityId = city.Id }, new { @class = "city-item__city" })
                                        <div class="city-item__country">Türkiye</div>
                                    </div>
                                    <div class="uk-position-top-right">
                                        <div class="city-item__col">20 Listings</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
