@model IEnumerable<TravelerBlog.Models.BlogPost>

<div class="section-blog">
    <div class="uk-section-large uk-container">
        <div class="section-title uk-text-center">
            <span>Places & Cities Must Visit This Summer</span>
            <h3 class="uk-h3">Recent Travel Blogs</h3>
        </div>
        <div class="section-content">
            <div class="uk-section-large uk-container">
                <div class="uk-grid uk-grid-medium uk-child-width-1-3@m uk-child-width-1-2@s" data-uk-grid>
                    @foreach (var post in Model)
                    {
                        <div class="blog-card">
                            <div class="blog-card__box">
                                <div class="blog-card__media shine"><a href=""><img src="~/Content/assets/img/blog-thumb-1.jpg" alt="How To Spend Vacations" /></a></div>
                                <div class="blog-card__body">
                                    <div class="blog-card__info">
                                        <div class="blog-card__category"> <span class="icon-folder"> </span>Vacations, Break</div>
                                        <div class="blog-card__author">Ben Jason</div>
                                    </div>
                                    @Html.ActionLink(post.Title.Substring(0,30) + "...", "ReadBlogPost", "Blog", new { blogPostId = post.Id }, new { @class = "blog-card__title" })
                                    <div class="blog-card__intro">
                                        <p>@post.Content.Substring(0, 100) ...</p>
                                    </div>
                                    <div class="blog-card__more">@Html.ActionLink("Read more", "ReadBlogPost", "Blog", new { blogPostId = post.Id }, new { @class = "uk-button uk-button-default" })</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
